@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lobster');

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body
{
    min-height: 150vh;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    z-index: 1000;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    transition: 0.5s;
}

header.sticky
{
    padding: 10px 100px;
}

.logo
{
    font-family: 'Lobster', sans-serif;
    position: relative;
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 2px;
}

.menuToggle
{
    position: relative;
    width: 30px;
    height: 30px;
    background: url('resources/menu.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.menuToggle.active
{
    background: url(resources/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
}

.navigation
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
    transition: 0.25s;
    opacity: 0;
    visibility: hidden;
}

.navigation.active
{
    opacity: 1;
    visibility: visible;
}

.navigation li 
{
    list-style: none;
    margin: 10px 0;
}

.navigation li a 
{
    color: black;
    font-size: 1.2em;
    letter-spacing: 4px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

section
{
    position: relative;
    padding: 100px 100px 0 100px;
    width: 100%;
    background: #f8f8f8;
}

.cover
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .contentBx
{
    position: relative;
    z-index: 1;
    background: #f8f8f8;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner .contentBx h2
{
    font-size: 2em;
    font-weight: 500;
    color: black;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
}

.banner .contentBx h4
{
    font-size: 1.2em;
    font-weight: 300;
    color: black;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
}

.btn
{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 20px;
    border: 2px;
    color: black;
    background: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid black;
    transition: 0.25s;
}

.btn:hover
{
    color: white;
    background: black;
}

.title
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title h2
{
    position: relative;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 1.4em;
    text-transform: uppercase;
    color: black;
}

.title p
{
    margin-top: 40px;
    max-width: 700px;
    text-align: center;
}

.title h2:before
{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 6px;
    background: black;
}

p
{
    color: black;
    font-weight: 300;
    text-align: justify;
}

.mainInfo
{
    position: relative;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-bottom: 50px;
}

.mainInfo .content .mainPicture
{
    margin-top: 20px;
    width: 90%;
}

.mainInfo .content h2
{
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 2px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.mainInfo .content .etiquette
{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.etiquetteContent
{
    display: flex;
    align-items: center;
}

.about .contentBx
{
    position: relative;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.about .contentBx .content
{
    position: relative;
}

.about .contentBx .content .imgBx
{
    height: 400px;
}

.post, .allPost
{
    position: relative;
}

.allPost
{
    padding-bottom: 50px;
}

.post .contentBx,
.allPost .contentBx
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}

.post .contentBx .postBox,
.allPost .contentBx .postBox
{
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

.post .contentBx .postBox .textBx,
.allPost .contentBx .postBox .textBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    transition: 0.25s;
    opacity: 0;
    visibility: hidden;
}

.post .contentBx .postBox:hover .textBx,
.allPost .contentBx .postBox:hover .textBx
{
    opacity: 0.9;
    visibility: visible;
}

.post .contentBx .postBox .textBx .info,
.allPost .contentBx .postBox .textBx .info
{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.post .contentBx .postBox .textBx .info img,
.allPost .contentBx .postBox .textBx .info img
{
    margin-right: 5px;
}

.post .contentBx .postBox .textBx h3,
.allPost .contentBx .postBox .textBx h3
{
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 1px;
    color: black;
}

.post .contentBx .postBox .textBx h2,
.allPost .contentBx .postBox .textBx h2
{
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 2px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.post .contentBx .postBox .textBx .btn,
.allPost .contentBx .postBox .textBx .btn
{
    padding: 4px 10px;
    background: black;
    color: white;
    font-weight: 300;
    font-size: 1em;
}

.mgt60
{
    margin-top: 60px;
}

.contact
{
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .contactForm
{
    position: relative;
    width: 100%;
    max-width: 700px;
    margin-top: 20px;
}

.contact .contactForm .row
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
}

.contact .contactForm .row2
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.contact .contactForm .row3
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .contactForm .row input,
.contact .contactForm .row2 textarea
{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    outline: none;
    background: white;
    color: black;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contact .contactForm .row2 textarea
{
    resize: none;
    height: 200px;
}

.contact .contactForm .row3 img
{
    width: 40px;
    height: 40px;
    margin: 20px 50px;
}

::placeholder
{
    color: black;
}

.contact .contactForm .row2 input[type="submit"]
{
    background: white;
    color: black;   
    border: 2px solid black;
    cursor: pointer;
}

.contact .contactForm .row2 input[type="submit"]:hover
{
    background: black;
    color: white;   
}

footer
{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f8f4f4;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

footer .footerMenu,
footer .footerMenu2
{
    display: flex;
}

footer .footerMenu li,
footer .footerMenu2 li
{
    list-style: none;
}

footer .footerMenu li a,
footer .footerMenu2 li a
{
    display: inline-block;
    text-decoration: none;
    margin: 20px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 2px;
}

footer .footerMenu li img,
footer .footerMenu2 li img
{
    display: inline-block;
    margin: 20px;
    width: 35px;
    height: 35px;
}

.copyrightText
{
    color: black;
    text-align: center;
    letter-spacing: 1px;
}

.back
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.back a
{
    padding: 10px;
    text-decoration: none;
    background-color: black;
    border: 2px solid black;
    color: white;
    text-transform: uppercase;
}

.back a:hover
{
    background-color: white;
    color: black;
}

@media (max-width: 991px) 
{
    header
    {
        padding: 20px 20px;
    }

    header.sticky
    {
        padding: 10px 20px;
    }

    section
    {
        padding: 20px;
    }

    .banner .contentBx
    {
        padding: 40px 30px;
    }

    .mainInfo
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .mainInfo .content .mainPicture
    {
        width: 70%;
    }

    .about .contentBx
    {
        grid-template-columns: repeat(1, 1fr);
    }

    .post .contentBx,
    .allPost .contentBx
    {
        grid-template-columns: repeat(1, 1fr);  
    }

    .post .contentBx .postBox,
    .allPost .contentBx .postBox
    {
        height: 300px;
    }

    .post .contentBx .postBox .textBx h3,
    .allPost .contentBx .postBox .textBx h3
    {
        display: none;
    }

    .about .contentBx .content .cover
    {
        position: inherit;
    }

    .contact .contactForm .row
    {
        grid-template-columns: repeat(1, 1fr);
    }

    footer
    {
        padding: 40px 20px;
    }

    footer .footerMenu
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px 0;
    }

    footer .footerMenu li a
    {
        margin: 5px 0;
    }

    .title
    {
        padding-top: 50px;
    }

    .mgt60
    {
        margin-top: 0;
    }

    .postSection
    {
        margin-top: 70px;
    }
    
}